<h1>Edit a Pattern</h1>

<% if @pattern.errors.any? %>
    <ul>
      <% @pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for :pattern, url: pattern_path(@pattern), method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :first_Colour %><br>
    <%= f.text_field :first, :placeholder => "Hex value only"%>
  </p>
  <p>
    <%= f.label :second_Colour %><br>
    <%= f.text_field :second, :placeholder => "Hex value only"%>
  </p>
  <p>
    <%= f.label :third_Colour %><br>
    <%= f.text_field :third, :placeholder => "Hex value only"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to('Back', patterns_path) %>