<h1>Edit a Pattern</h1>

<% if @pattern.errors.any? %>
    <ul>
      <% @pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for :pattern, url: pattern_path(@pattern), method: :patch do |f| %>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.text_field :second %>
  </p>
  <p>
    <%= f.text_field :third %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to('back', patterns_path) %>