<h2>Elixir</h2>
<%= link_to('Create a New Color', new_pattern_path) %>

<div id='rainbowish'></div>
<ul>
  <% @patterns.each do |pattern| %>
    <li>
      <p><%= "#{ pattern.name }" %></p>
      <%= link_to('Details', pattern_path(pattern)) %>
    </li>
  <% end %>
</ul>

<div class='first' style="display:none;"><%= @patterns.last().first %></div>
<div class='second' style="display:none;"><%= @patterns.last().second %></div>
<div class='third' style="display:none;"><%= @patterns.last().third %></div>