<h1>Create a Colour</h1>

<% if @pattern.errors.any? %>
    <ul>
      <% @pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for :pattern, url: patterns_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :red_Value %><br>
    <%= f.text_field :first, :placeholder => "0 - 255 Only"%>
  </p>
  <p>
    <%= f.label :green_Value %><br>
    <%= f.text_field :second, :placeholder => "0 - 255 Only"%>
  </p>
  <p>
    <%= f.label :blue_Value %><br>
    <%= f.text_field :third, :placeholder => "0 - 255 Only"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to('Back', patterns_path) %>