<h1><%= @pattern.name %></h1>

<h3>Colour Values:</h3>

<p><%= @pattern.first %></p>
<p><%= @pattern.second %></p>
<p><%= @pattern.third %></p>

<%= link_to('Edit', edit_pattern_path(@pattern)) %>
<%= link_to('Back', patterns_path) %>