<h1><%= @pattern.name %></h1>

<h2>Colours:</h2>

<p><%= @pattern.first %></p>
<p><%= @pattern.second %></p>
<p><%= @pattern.third %></p>

<%= link_to('edit this pattern', edit_pattern_path(@pattern)) %>
<%= link_to('back', patterns_path) %>